.carousel {
	width: 100%;
	height: 415px;
	border-radius: 25px;
	margin-bottom: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
.carousel__img-wrap {
	width: 100%;
	height: 100%;
}
.carousel__img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 25px;
}

.carousel__controls{
  position: absolute;
  font-size: 80px;
  color: #FFFFFF;
  padding: 24px;
	cursor: pointer;
}
.carousel__controls--next{
  right: 0;
}
.carousel__controls--previous{
  left:0;
}
@media screen and (max-width: 809px) {
.carousel {
	height: 255px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.carousel__controls{
  
  font-size: 19px;
  padding: 6px;
}
}

