.carousel {
	width: 100%;
	height: 415px;
	border-radius: 25px;
	margin-bottom: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
.carousel img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 25px;
}

.carousel__controls{
  position: absolute;
  font-size: 80px;
  color: #FFFFFF;
  padding: 24px;
}
.carousel__controls--next{
  right: 0;
}
.carousel__controls--previous{
  left:0;
}

