.header {
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;

	width: 100%;
}
.header__logo {
	fill: #ff6060;
}
@media screen and (max-width: 809px) {
	.header {
		padding: 20px;
	}
	.header div {
		width: 50%;
	}
	.header svg {
    width: 90%;
		height: 47px;
	}
}
