.rating__star,
.rating__star--blank{
  font-size: 30px;
  margin: 0 5px;
}
.rating__star--blank{
  color: #E3E3E3;
}
@media screen and (max-width: 809px) {
  .rating__star,
.rating__star--blank{
  font-size: 15px;
}
}