.tag {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	background: #ff6060;
	color: #ffffff;
  width: 115px;
  height: 25px;
  border-radius: 10px;
  margin: 0 5px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}
